*.log
*.o
*.elf
*.map
*.d
**/nbproject/private
**/nbproject/Makefile-*
**/nbproject/Package-*
**/*.X/.generated_files
**/*.X/debug
**/*.X/dist
**/*.X/build
**/*.IAR/Debug
**/*.IAR/settings
**/*.IAR/*.dep
**/*.IAR/*.custom_argvars
.idea
/apps/aria_quickstart/firmware/aria_qs_e54_cult_xpro_parallel.X/build/
/apps/aria_quickstart/firmware/aria_qs_e54_cult_xpro_parallel.X/dist/
/apps/legato_quickstart/firmware/legato_qs_e54_cult_cpro_parallel.X/build/
/apps/legato_quickstart/firmware/legato_qs_e54_cult_cpro_parallel.X/dist/
/apps/legato_quickstart/firmware/legato_quickstart_c21_xpro_cpro.X/build/
/apps/legato_quickstart/firmware/legato_quickstart_c21_xpro_cpro.X/dist/
/apps/legato_quickstart/firmware/legato_qs_e70_xu_tm4301b.X/build/
/apps/legato_quickstart/firmware/legato_qs_e70_xu_tm4301b.X/dist/
/apps/legato_flash/firmware/legato_fl_e54_cult_cpro_parallel.X/build/
/apps/legato_flash/firmware/legato_fl_e54_cult_cpro_parallel.X/dist/
/apps/legato_quickstart/firmware/legato_qs_e70_xu_tm4301b_ssd1963.X/build/
/apps/legato_quickstart/firmware/legato_qs_e54_cu_cpro_spi.X/build/
/apps/legato_quickstart/firmware/legato_qs_e70_xu_tm4301b_ssd1963.X/dist/
/apps/legato_quickstart/firmware/legato_qs_e54_cu_cpro_spi.X/dist/
/apps/blank_quickstart/firmware/blank_quickstart_mzef_cu_wqvga.X/build/
/apps/blank_quickstart/firmware/blank_quickstart_mzef_cu_wqvga.X/dist/
/apps/aria_quickstart/firmware/aria_qs_mzda_intddr_sk_meb2_tm5000_freertos.X/build/
/apps/aria_quickstart/firmware/aria_qs_mzda_intddr_sk_meb2_tm5000_freertos.X/dist/
/apps/aria_quickstart/firmware/aria_qs_mzef_cu_tm4301b_ssd1963.X/build/
/apps/aria_quickstart/firmware/aria_qs_mzef_cu_tm4301b_ssd1963.X/dist/
/apps/aria_flash/firmware/aria_fl_e70_xu_tm4301b.X/build/
/apps/aria_flash/firmware/aria_fl_mzda_intddr_sk_meb2_tm4301b.X/build/
/apps/aria_flash/firmware/aria_fl_mzef_cu_tm4301b.X/build/
/apps/aria_flash/firmware/aria_fl_mzef_cu_tm4301b.X/dist/
/apps/aria_flash/firmware/aria_fl_mzda_intddr_sk_meb2_tm4301b.X/dist/
/apps/aria_flash/firmware/aria_fl_e70_xu_tm4301b.X/dist/
/apps/aria_quickstart/firmware/aria_qs_a5d2_xu_xc32_tm5000.X/build/
/apps/aria_quickstart/firmware/aria_qs_9x60_ek_tm4301b.X/build/
/apps/aria_quickstart/firmware/aria_qs_a5d2_xu_xc32_tm5000.X/dist/
/apps/aria_quickstart/firmware/aria_qs_9x60_ek_tm4301b.X/dist/
/apps/aria_flash/firmware/aria_fl_mzef_sk_meb2_tm4301b.X/build/
/apps/aria_flash/firmware/aria_fl_mzef_sk_meb2_tm4301b.X/dist/
/apps/aria_quickstart/firmware/aria_qs_c21_xpld_xpro.X/build/
/apps/aria_quickstart/firmware/aria_qs_c21_xpld_xpro.X/dist/
/apps/aria_quickstart/firmware/aria_qs_c21_xpld_oled1.X/build/
/apps/aria_quickstart/firmware/aria_qs_d21_xpld_oled1.X/build/
/apps/aria_quickstart/firmware/aria_qs_d21_xpld_oled1.X/dist/
/apps/aria_quickstart/firmware/aria_qs_c21_xpld_oled1.X/dist/
/apps/aria_quickstart/firmware/aria_qs_e54_cu_tm4301b_ssd1963.X/build/
/apps/aria_quickstart/firmware/aria_qs_e54_cu_tm4301b_ssd1963.X/dist/
/apps/aria_quickstart/firmware/aria_qs_e54_cu_tm5000_ssd1963_freertos.X/build/
/apps/aria_quickstart/firmware/aria_qs_e54_cu_tm5000_ssd1963_freertos.X/dist/
/apps/aria_quickstart/firmware/aria_qs_e54_xpld_oled1.X/build/
/apps/aria_quickstart/firmware/aria_qs_e54_xpld_oled1.X/dist/
/apps/aria_quickstart/firmware/aria_qs_e54_xpld_xpro.X/build/
/apps/aria_quickstart/firmware/aria_qs_e54_xpld_xpro.X/dist/
/apps/aria_quickstart/firmware/aria_qs_e70_xu_tm5000_ssd1963_freertos.X/build/
/apps/aria_quickstart/firmware/aria_qs_e70_xu_tm4301b.X/build/
/apps/aria_quickstart/firmware/aria_qs_e70_xu_tm5000_ssd1963_freertos.X/dist/
/apps/aria_quickstart/firmware/aria_qs_e70_xu_tm4301b.X/dist/
/apps/aria_quickstart/firmware/aria_qs_mzda_extddr_sk_meb2_tm4301b.X/build/
/apps/aria_quickstart/firmware/aria_qs_mzda_extddr_sk_meb2_tm4301b.X/dist/
/apps/aria_quickstart/firmware/aria_qs_e70_xu_xpro_parallel.X/build/
/apps/aria_quickstart/firmware/aria_qs_e70_xu_tm4301b_freertos.X/build/
/apps/aria_quickstart/firmware/aria_qs_e70_xu_xpro_parallel.X/dist/
/apps/aria_quickstart/firmware/aria_qs_e70_xu_tm4301b_freertos.X/dist/
/apps/aria_quickstart/firmware/aria_qs_mzda_extddr_sk_meb2_tm5000_freertos.X/build/
/apps/aria_quickstart/firmware/aria_qs_mzda_extddr_sk_meb2_tm5000_freertos.X/dist/
/apps/aria_quickstart/firmware/aria_qs_e70_xu_tm4301b_ssd1963.X/build/
/apps/aria_quickstart/firmware/aria_qs_e70_xu_tm4301b_ssd1963.X/dist/
/apps/aria_quickstart/firmware/aria_qs_mzda_intddr_sk_meb2_tm4301b.X/build/
/apps/aria_quickstart/firmware/aria_qs_mzda_intddr_sk_meb2_tm4301b.X/dist/
/apps/aria_quickstart/firmware/aria_qs_e70_xu_xpro_spi.X/build/
/apps/aria_quickstart/firmware/aria_qs_mzef_cu_xpro_spi.X/build/
/apps/aria_quickstart/firmware/aria_qs_e70_xu_xpro_spi.X/dist/
/apps/aria_quickstart/firmware/aria_qs_mzef_cu_xpro_spi.X/dist/
/apps/aria_quickstart/firmware/aria_qs_mzef_cu_tm4301b.X/build/
/apps/aria_quickstart/firmware/aria_qs_mzef_cu_tm4301b.X/dist/
/apps/aria_quickstart/firmware/aria_qs_mzef_sk_meb2_tm4301b.X/build/
/apps/aria_quickstart/firmware/aria_qs_mzef_sk_meb2_tm4301b.X/dist/
/apps/aria_quickstart_ext_res/firmware/aria_qs_msd_fs_sqi_flash_e70_xu_ssd1963_tm4301b.X/build/
/apps/aria_quickstart_ext_res/firmware/aria_qs_msd_fs_sqi_flash_e70_xu_ssd1963_tm4301b.X/dist/
/apps/aria_quickstart/firmware/aria_qs_mzef_cu_xpro_parallel.X/build/
/apps/aria_quickstart_ext_res/firmware/aria_qs_msd_host_fs_mzef_cu_tm4301b.X/build/
/apps/aria_quickstart/firmware/aria_qs_mzef_cu_xpro_parallel.X/dist/
/apps/aria_quickstart_ext_res/firmware/aria_qs_msd_host_fs_mzef_cu_tm4301b.X/dist/
/apps/aria_quickstart_ext_res/firmware/aria_qs_msd_fs_sqi_flash_mzda_intddr_sk_tm4301b.X/build/
/apps/aria_quickstart_ext_res/firmware/aria_qs_msd_fs_sqi_flash_mzda_intddr_sk_tm4301b.X/dist/
/apps/aria_quickstart_ext_res/firmware/aria_qs_msd_host_sdcard_fs_e70_xu_tm4301b.X/build/
/apps/aria_quickstart_ext_res/firmware/aria_qs_msd_host_sdcard_fs_e70_xu_tm4301b.X/dist/
/apps/aria_quickstart_ext_res/firmware/aria_qs_x_r_mzef_sk_meb2_tm4301b.X/build/
/apps/aria_quickstart_ext_res/firmware/aria_qs_x_r_mzef_sk_meb2_tm4301b.X/dist/
/apps/aria_quickstart_ext_res/firmware/aria_qs_msd_fs_sqi_flash_mzef_cu_tm4301b.X/build/
/apps/aria_quickstart_ext_res/firmware/aria_qs_msd_host_sdcard_fs_mzda_intddr_sk_tm4301b.X/build/
/apps/aria_quickstart_ext_res/firmware/aria_qs_msd_fs_sqi_flash_mzef_cu_tm4301b.X/dist/
/apps/aria_quickstart_ext_res/firmware/aria_qs_msd_host_sdcard_fs_mzda_intddr_sk_tm4301b.X/dist/
/apps/aria_quickstart_ext_res/firmware/aria_qs_x_r_e70_xu_tm4301b.X/build/
/apps/aria_quickstart_ext_res/firmware/aria_qs_x_r_e70_xu_tm4301b.X/dist/
/apps/aria_quickstart_ext_res/firmware/aria_qs_msd_fs_sqi_flash_mzef_sk_tm4301b.X/build/
/apps/aria_quickstart_ext_res/firmware/aria_qs_msd_fs_sqi_flash_mzef_sk_tm4301b.X/dist/
/apps/aria_quickstart_ext_res/firmware/aria_qs_msd_host_sdcard_fs_mzef_sk_tm4301b.X/build/
/apps/aria_quickstart_ext_res/firmware/aria_qs_x_r_mzda_intddr_sk_meb2_tm4301b.X/build/
/apps/aria_quickstart_ext_res/firmware/aria_qs_msd_host_sdcard_fs_mzef_sk_tm4301b.X/dist/
/apps/aria_quickstart_ext_res/firmware/aria_qs_x_r_mzda_intddr_sk_meb2_tm4301b.X/dist/
/apps/aria_quickstart_ext_res/firmware/aria_qs_x_r_mzef_cu_tm4301b.X/build/
/apps/aria_quickstart_ext_res/firmware/aria_qs_x_r_mzef_cu_tm4301b.X/dist/
/apps/blank_quickstart/firmware/blank_qs_mzda_extddr_sk_meb2_wqvga_freertos.X/build/
/apps/blank_quickstart/firmware/blank_qs_mzda_extddr_sk_meb2_wqvga_freertos.X/dist/
/apps/blank_quickstart/firmware/blank_qs_mzda_intddr_sk_meb2_wqvga.X/dist/
/apps/blank_quickstart/firmware/blank_qs_mzda_intddr_sk_meb2_wqvga.X/build/
/apps/blank_quickstart/firmware/blank_qs_mzda_intddr_sk_meb2_wqvga_freertos.X/build/
/apps/blank_quickstart/firmware/blank_qs_mzda_intddr_sk_meb2_wqvga_freertos.X/dist/