# Set the default behavior, in case people don't have core.autocrlf set.
* text=auto

# Explicitly declare text files you want to always be normalized and converted
# to native line endings on checkout.

*.* text

# Denote all files that are truly binary and should not be modified.
*.jar binary
*.exe binary
*.chm binary
*.ico binary
*.jpg binary
*.png binary
*.gif binary
*.dll binary
*.zip binary
*.bmp binary
*.ttf binary
*.a binary
*.so binary
*.otf binary
*.pdf binary
*.dot binary
*.elf binary
middleware/legato/composer/** binary
