<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleName</key>
	<string>MGS Composer</string>
	<key>CFBundleIdentifier</key>
	<string>com.microchip.composer</string>
	<key>CFBundleExecutable</key>
	<string>Composer</string>
	<key>CFBundleVersion</key>
	<string>3.3.5</string>
	<key>CFBundleShortVersionString</key>
	<string>3.3.5</string>
	<key>LSMinimumSystemVersion</key>
	<string>13.0</string>
	<key>NSHumanReadableCopyright</key>
	<string></string>
	<key>CFBundleIconFile</key>
	<string>icon.icns</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleAllowMixedLocalizations</key>
	<true/>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
	<key>NSSupportsAutomaticGraphicsSwitching</key>
	<true/>
	<key>NSDownloadsFolderUsageDescription</key>
	<string>Composer needs access to your Downloads folder to open and save files here.</string>
	<key>NSDesktopFolderUsageDescription</key>
	<string>Composer needs access to your Desktop to open and save files here.</string>
	<key>NSDocumentsFolderUsageDescription</key>
	<string>Composer needs access to your Documents folder to open and save files here.</string>
</dict>
</plist>
